<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div class="form-group">
      <label for="filter">Filter</label>
      <div class="input-group">
        <input type="text" id="filter" class="form-control" [(ngModel)]="filterString">
        <span class="input-group-btn">
          <button (click)="filterString = ''" class="btn btn-danger" type="button">Clear</button>
        </span>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li *ngFor="let ingredient of ingredients | filter:filterString:'name'; let i = index" class="list-group-item ingredient" style="cursor: pointer;" (click)="onEditItem(ingredient.index)">
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>
